html, body {
    background: lightgray;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.layout {
    background: linear-gradient(to right, black, black 210px, white 211px, white) repeat scroll 0 0 rgba(0, 0, 0, 0);
    position:relative;
    /*margin:auto 0 -100px;*/
    min-height:100%;
    height:auto !important;
}

.layout_left {
    color: white;
    position:relative;
    width:210px;
    min-height:100%;
    /*height:auto !important;*/
    float:left;
}

.layout_center {
    padding: 10px;
    height: auto !important;
    margin-right: 320px;
    margin-left: 220px;
    min-height: 100%;
    position: relative;
}

.layout_right {
    padding: 10px;
    position:relative;
    width:300px;
    min-height:100%;
    height:auto !important;
    float:right;
}

.footer {
    background: gray;
    border-top: 2px solid #cacaca;
    height: 100px;
    position:relative;
    clear:both;
    width:100%;
}

.content_box {
    padding: 10px;
    background: white;
    border: 1px solid black;
    border-radius: 3px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.logo {
    width: 210px;
    text-align: center;
    color: white;
    font-size: 36pt;
    border-bottom: 3px solid white;
}

.text {
    margin-top: 5px;
    margin-bottom: 20px;
}

.text {
    margin-top: 5px;
    margin-bottom: 10px;
}

.menu {
    margin: 0;
    padding: 0;
    font-size: 14pt;
    text-align: end;
    list-style-type: none;
}

.menu li {
    width: 210px;
    cursor: pointer;
    padding: 5px;
}

.menu li:hover {
    background: #4b4a45;
}

.menu a{
    width: 100%;
    color: white !important;
    text-decoration: none !important;
}

.pag a{
    color: black !important;
}

.button_pos {
    margin-top: 10px;
    width: 100%;
    text-align: left;
}

.button_login {
    margin-top: 5px;
    width: 100%;
    text-align: right;
}

.form-control-pad {
    margin-bottom: 5px;
}